# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/

# User settings
*.xcuserstate
xcuserdata/
*.xcuserdatad/

# Build products
build/
DerivedData/
*.build/

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# CocoaPods (if used)
Pods/

# Carthage (if used)
Carthage/Build/

# Accio (if used)
Dependencies/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/

# Firebase
ios/RoutineChart/RoutineChart/Google-Services-Info.plist

# OS Files
.DS_Store

